@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans;
}
:root {
    --Neutral1: hsl(227, 75%, 14%);
    --Neutral2: hsl(226, 25%, 17%);
    --Neutral3: hsl(225, 23%, 24%);
    --Neutral4: hsl(226, 11%, 37%);
    --Neutral5: hsl(0, 0%, 78%);
    --Neutral6: hsl(217, 61%, 90%);
    --Neutral7: hsl(0, 0%, 93%);
    --Neutral8: hsl(0, 0%, 100%);
    --Red1: hsl(3, 86%, 64%);
    --Red2: hsl(3, 71%, 56%);
    --Red3: hsl(3, 77%, 44%);
    --box_shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}

.card {
    width: 33%;
    background-color: var(--Neutral8);
    box-shadow: var(--box_shadow);
    padding: 1rem;
    display: grid;
    grid-template-columns: 1fr 3.1fr; 
    grid-template-rows: auto auto; 
    border-radius: 1rem;
    margin-top: 2rem;
}
.logo{
    grid-column: 1 / 2; 
    grid-row: 1;
    width: 3rem;
    height: 3rem;
}
.text_container{
    grid-column: 2 / 3; 
    grid-row: 1;
}
.text_container > h1{
    color: var(--Neutral1);
    font-size: 1.2rem;
    font-weight: bolder;
}

.text_container > p{
    color: var(--Neutral4);
    font-size: 0.8rem;
    font-weight: 500;
}

.button_container{
    grid-column: 1 / 3; 
    grid-row: 2;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    align-items: center;
}

.button_container > button{
    border: 1px solid var(--Neutral5);
    background-color: var(--Neutral8);
    padding: 0.3rem 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
}
.toggleSwitch {
    position: relative;
    display: inline-block;
    width: 2.4375rem;
    height: 1.3125rem;
    margin-left: 0.1rem;
}

.toggleSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Neutral4);
    transition: 0.4s;
    border-radius: 1.59375rem;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.03125rem;
    width: 1.03125rem;
    left: 0.140625rem;
    bottom: 0.140625rem;
    background-color: var(--Neutral8);
    transition: 0.4s;
    border-radius: 50%;
}

.toggleSwitch input:checked + .slider {
    background-color: var(--Red3);
}

.toggleSwitch input:checked + .slider:before {
    transform: translateX(1.125rem);
}
