@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans;
}

:root{
    --Neutral1: hsl(227, 75%, 14%);
    --Neutral2: hsl(226, 25%, 17%);
    --Neutral3: hsl(225, 23%, 24%);
    --Neutral4: hsl(226, 11%, 37%);
    --Neutral5: hsl(0, 0%, 78%);
    --Neutral6: hsl(217, 61%, 90%);
    --Neutral7: hsl(0, 0%, 93%);
    --Neutral8: hsl(0, 0%, 100%);
    --Red1: hsl(3, 86%, 64%);
    --Red2: hsl(3, 71%, 56%);
    --Red3: hsl(3, 77%, 44%);
    --box_shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    box-shadow: var(--box_shadow);
    padding-inline: 1rem ;
}

.search_container.light {
    background-color: var(--Neutral8);
}

.search_container.dark {
    background-color: var(--Neutral2);
}

.search_container > input {
    width: 100%;
    padding: 1rem 0.5rem;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}
.search_container.light > input{
    color: var(--Neutral2);
    background-color: var(--Neutral8);
}

.search_container.dark > input{
    color: var(--Neutral8);
    background-color: var(--Neutral2);
}


.search_btn{
    background-color: var(--Neutral7);
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_btn.dark{
    background-color: var(--Neutral3);
}

.filters_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}
.filters_container > h1 {
    color: var(--Neutral1);
    font-size: 2rem;
    font-weight: bolder;
}
.filters_container > h1.dark {
    color: var(--Neutral7);
}

.filters {
    display: flex;
    gap: 1rem;
}
.filters > button {
    background-color: var(--Neutral8);
    border: none;
    color: var(--Neutral1);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: var(--box_shadow); 
}
.filters > button.dark{
    background-color: var(--Neutral2);
    color: var(--Neutral8);
}
