* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Neutral1: hsl(227, 75%, 14%);
    --Neutral2: hsl(226, 25%, 17%);
    --Neutral3: hsl(225, 23%, 24%);
    --Neutral4: hsl(226, 11%, 37%);
    --Neutral5: hsl(0, 0%, 78%);
    --Neutral6: hsl(217, 61%, 90%);
    --Neutral7: hsl(0, 0%, 93%);
    --Neutral8: hsl(200, 60%, 99%);
    --Red1: hsl(3, 86%, 64%);
    --Red2: hsl(3, 71%, 56%);
    --Red3: hsl(3, 77%, 44%);
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Neutral8);
    border-radius: 0.7rem;
    margin-top: 2rem;
    padding-inline: 1rem ;
}
.search_container > input {
    width: 100%;
    padding: 1rem 0.5rem;
    border: none;
    background-color: var(--Neutral8);
    color: var(--Neutral8);
    font-size: 1rem;
    font-weight: 500;
    outline: none;
}
.search_btn{
    background-color: var(--Neutral7);
    border: none;
    cursor: pointer;
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.filters_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}